.formInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
}

input {
  width: 250px;
  height: 35px;
  background-color: black;
  border-bottom: 2px solid white;
  padding-left: 11px;
}
label {
  color: gray;
  font-size: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.Error{
  font-size: 13px;
  padding: 3px;
  color: red;
  display: none;
  width: 40%;
  flex-wrap: wrap;
}
input:invalid[focused="true"] ~ .Error{
  display: block;
}
input:invalid[focused="true"]{
  border: 1px solid red;
}

@media only screen and (max-width: 540px) {
  .Form {
    width: 100%;
  }
  .formInput {
    width: 100px;
  }
  .Error{
    width: 200%;
    line-height: 20px;
  }
}