
.Box {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 50px;
  z-index: 1;

}
.Main_box {
  z-index: 1;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}
.not-active {
  position:absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.active {
  position:absolute;
  width: 100%;
  height: 120%;
  opacity: 0.4;
}
.Info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

}
.Infoo{
  z-index: 1;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272A33;
  color: white;
  margin-top: 5%;
  -webkit-user-select: none;
  cursor: pointer;
}
.Co {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-top: 1%;
  font-weight: bold;
  letter-spacing: 7px;
  background: linear-gradient(
    to right, 
    rgb(255, 255, 255) 0,
    hsl(0, 0%, 100%) 50%,
    rgb(163, 162, 162) 20%
    ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineee 25s infinite linear;
}

 @keyframes shineee {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 5000px;
  }
  100% {
    background-position: 50px;
  }
 }

.Erros {
  z-index: 1;
  color: red;
  text-align: justify;
  margin-top: 1%;
  font-size: 20px;
}

.input-block {
  z-index: 1;
  margin-top: 1%;
	width: 98%;
  padding-left: 1%;
}

.input-block-el {
  text-align: justify;
	border: 0;
	width: 100%;
	height: 40px;
	outline: none;
	display: block;
  background-color: transparent;
	border-bottom: 5px solid #fcfcfc;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.input-block-el:focus + .input-block-line {
	width: 100%;
}

.input-block-line {
  top: -5px;
  padding-right: 0.7%;
  width: 0%;
  height: 5px;
  content: "";
  margin: 0 auto;
  position: relative;
  background: #f700ff;
  transition: width .5s;
}
.button_Creat .btn_Creat:hover {
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.9)); 

}
.btn_Creat span {
  position: relative; 
  z-index: 1;
  font-size: 20px;
}
.btn_Creat {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 55px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  border: solid 1px black;
}

.btn_Creat:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 400%;
  width: 137%;
  background: #000000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn_Creat:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
} 


@media only screen and (max-width: 500px) {
  .btn_Creat {
    width: 100%;
    height: 55px;
  }
  .Co {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 7px;
  }
  .Infoo {
    width: 100%;
  }
}