@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.To_main {
  background-color: #0f1519;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 100px;
}
.Image3 {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
}
.Images-5-section {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.To_2nd {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
}

.To_3rd {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  color: white;
  row-gap: 20px;
  position: absolute;
  height: 55%;
  top: -400px;
  transition: all 1s cubic-bezier(.29,.04,.52,1);
}
.To_4rd {
  transition: all 2s cubic-bezier(.29,.04,.52,1);
}
.To_3rd > h1 {
  z-index: 1;
  box-shadow: 0 0 10px #000000,
  0 0 40px rgb(0, 0, 0),
  0 0 80px #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.STRATEGIZE {
  z-index: 1;
  color: #03f490;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  letter-spacing: 0.5em;
  font-size: 40px;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.9)); 
  box-shadow: 0 0 40px rgba(0, 0, 0,0.1),
                0 0 40px rgba(0, 0, 0,0.1),
                0 0 40px rgba(0, 0, 0,0.1),
}

.To_4rd {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  flex-wrap: wrap;
}

.To_list_main {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 350px;
  border: solid 3px  #b38501;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
  position: relative;
  right: 400px;
  transition: all 1s cubic-bezier(.29,.04,.52,1);
}
.To_list_main:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 1s;
}
.To_list_mainpast {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 350px;
  border: solid 3px  #505050;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
  background-color: #0f1519;
  position: relative;
  right: 400px;
  transition: all 1s cubic-bezier(.29,.04,.52,1);
}
.To_list_mainpast:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 1s;
  border: solid 3px  #b38501;
}
.PAST {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: #03f490;
  width: 100%;
  cursor: pointer;
}
.PAST:hover {
  color: #03f490;
  transition: 1s;
}
.Image_list{
  height: 200px;
  width: 100%;
}
.Image_listpast{
  height: 200px;
  width: 100%;
  opacity: 0.3;
  transition: 1s;
}
.To_list_mainpast:hover .Image_listpast{
  height: 200px;
  width: 100%;
  opacity: 1;
  transition: 1s;
}
.To_list_1 {
  height: 90px;
  width: 95%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  color: rgb(81, 81, 81);
  column-gap: 20px;
}
.To_list_1 > p {
  font-size: 15px;
  width: 70%;
}
.Featured {
  display: flex;
  justify-content: end;
  color: black;
  align-items: center;
  width: 83%;
}
.FEATUREDd {
  padding-left: 4.5%;
  padding-top: 2%;
  padding-bottom: 3%;
}
.Featured_box{
  background-color: #f8a81c;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  height:  60px;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.Featured_boxpast{
  background-color: #404040;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  height:  60px;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.To_list_mainpast:hover .Featured_boxpast{
  transition: 1s;
  background-color: #f8a81c;
}
.date {
  color: white;
}
h5 {
  color: white;
  padding-left: 5%;
}
.To_list_2 {
  background-color: black;
  color: white;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  column-gap: 10px;
  border-radius: 3px;
  margin-bottom: 10%;
}
.To_list_3 {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 60px;
}
.Registration {
  background-color: #05f385;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
}
.Registration > p {
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.Registrationpast {
  background-color: #343434;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
}
.Registrationpast > p {
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.To_list_mainpast:hover .Registrationpast{
  background-color: #05f385;
  transition: 1s;
}
.To_5rd {
  height: 100%;
  width: 100%;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
}
.Past_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filll {
  fill: rgb(58, 58, 58);
  width: 50px;
}
.fi{
  fill: rgb(58, 58, 58);
  width: 50px;
  margin-top: 10px;
}
.fi:hover {
  fill: white;
  cursor: pointer;
}
.Past_flex .filll:hover {
  fill: rgb(255, 255, 255);
  width: 50px;
  cursor: pointer;
  transition: 1s;
}
.contentt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1.5em;
  background: linear-gradient(
    to right, 
    #05f385 0,
    #05f385 50%,
    #ffffff 20%
    ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s infinite linear;
}
.contenttt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 0.2em;
  background: linear-gradient(
    to right, 
    #919191 0,
    #ffffff 80%,
    #888888 20%
    ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
}

 @keyframes shine {
  0% {
    background-position: 50px;
  }
  60% {
    background-position: 400px;
  }
  100% {
    background-position: 10px;
  }
 }
@media only screen and (max-width: 485px) {
  .STRATEGIZE {
    width: 100%;
    font-size: 13px;
  }
  .UNLEASH {
    font-size: 21px;
  }
  .FEATUREDd {
    width: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    padding-left: 0;
  }
  .To_list_main {
    right: 200px;
  }
  .To_list_mainpast {
    right: 200px;
  }
  .To_3rd {
    height: 70%;
    top: 100px;
  }
  .contenttt {
    font-size: 15px;
  }
}